* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    background-image: url("../assets/img/pngwing.com.png");

    font-family: 'Damion';
}

.navegador {
    display: flex;
    justify-content: end;
    border-top: 2rem;
    width: 100%;
    padding-right: 2rem;

}

.iconos-nav {
    display: flex;
    gap: 2rem;
}


.login {
    width: 2.9rem;
    height: 2.9rem;
    margin-top: 2rem;

}


.corazon {
    width: 2rem;
    height: 2rem;
    margin-top: 2.5rem;


}

.carrito {
    width: 2.9rem;
    height: 2.9rem;
    margin-top: 2rem;
}

.estante {
    display: flex;
    justify-content: center;
    position: relative;
}

.h4 {
    position: absolute;
    top: 65%;
    left: 49.8%;
    transform: translate(-50%, -50%);
    color: #FCDC0A;
    font-size: 2rem;
    text-wrap: nowrap;
}


h1 {
    text-align: center;
    font-size: 4rem;
    max-width: 40rem;
    margin: auto;
}

.h1-pages {
    margin-top: 3rem;
}

.form {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
}

.input {
    background-color: aliceblue;
    width: 14rem;
    height: 2rem;
    border-radius: 0.5rem;
    border-color: #000;
}

.boton-buscar{
    background-color: aliceblue;
    text-transform: capitalize;
    font-family: 'Damion';
    font-size: 1.6rem;
    width: 5rem;
    border-radius: 0.5rem;
    border-color: #000;
}

.container {
    margin-left: 4rem;
    margin-right: 4rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.contenedor {
    position: relative;
    display: inline-block;
    text-align: center;
}


.centrado {
    position: absolute;
    top: 45%;
    left: 48%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
}

.centrado :hover {
    transform: scale(1.2);   
}


.link {
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    font-size: 1.6rem;
    
}


.link a {
    text-decoration: none;
    color: #000;
    
}



.redes-index {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.redes-index :hover {
        transform: scale(1.2);
    
}

h5 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.facebook {
    width: 5rem;
    height: 5rem;
}


.instagram {
    width: 4rem;
    height: 4rem;
}



.whatsapp {
    width: 5rem;
    height: 5rem;
}



.gmail {
    width: 5rem;
    height: 5rem;
}


.iframe {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;

}




/* paginas */

.form-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
    font-size: 1.6rem;
}

.volver {
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    text-decoration: none;
    color: #000;
    margin-bottom: 4rem;
}

/* Formulario */





.form-formulario {
    background-color: #fff; 
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #bba69b;
    border-radius: 10px;
    box-shadow: 4px 4px 6px #ad7f49;
    font-family: 'Damion', cursive;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between;
}

.label-formulario {
    font-size: 16px;
    color: #000; 
    font-family: 'Damion', cursive;
}

.input-formulario {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #000; 
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.button {
    background-color: #635f5c; 
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Damion', cursive;
}

.button:hover {
    background-color: #ad7f49; 
}

.a-formulario {
    text-decoration: none;
    color: #1a1817;
    font-family: 'Damion', cursive;
}



/*RESPONSIVE*/

@media (max-width: 601px){
    .navegador{
        justify-content: center;
        padding-right: 0px;
    }

    .container{
        margin-left: 3rem;
        margin-right: 2rem;
    }

}

@media (max-width: 560px){
    .navegador{
        margin-left: 2rem;
    } 

    .estante{
        margin-left: 3rem;
    }

    h1{
        font-size: 3.5rem;
        margin-left: 3rem;
    }

    .form{
        margin-left: 3rem;
    }

    .form-1{
        margin-left: 3rem;
    }

    .container{
        margin-left: 5.5rem;
    }

footer{
    margin-left: 4rem;
}

}


@media (max-width: 500px){
    .navegador{
        margin-left: 3rem;
    } 

    .estante{
        margin-left: 7rem;
    }

    h1{
        font-size: 3.5rem;
        margin-left: 6rem;
    }

    .form{
        margin-left: 6.5rem;
    }
    .form-1{
        margin-left: 6.5rem;
    }

    .container{
        margin-left: 9rem;
    }

    footer{
    margin-left: 7rem;
}
    .h5{
        font-size: 2.5rem;
    }

}

@media (max-width: 450px){
    .navegador{
        margin-left: 5rem;
    } 
    .estante{
        margin-left: 10rem;
    }

    
    h1{
        font-size: 4rem;
        margin-left: 10rem;
    }

    .form{
        margin-left: 10rem;
    }

    .form-1{
        margin-left: 10rem;
    }

    .container{
        margin-left: 12rem;
    }

    footer{
    margin-left: 9rem;
} 
.h5{
    font-size: 3rem;
}

}

@media (max-width: 400px){
    .navegador{
        margin-left: 7rem;
    } 
    .estante{
        margin-left: 13rem;
    }

    h1{font-size: 3.5rem;
        margin-left: 12rem;
    }

    .form{
        margin-left: 15rem;
    }

    .form-1{
        margin-left: 15rem;
    }

    .container{
        margin-left: 15rem;
    }

    footer{
    margin-left: 12rem;
} 

    .h5{
        font-size: 3.5rem;
}
}

@media (max-width: 350px){
    .navegador{
        margin-left: 9rem;
    } 
    .estante{
        margin-left: 16rem;
    }

    h1{
        margin-left: 13rem;
    }
    .container{
        margin-left: 18rem;
    }

    footer{
    margin-left: 16rem;
} 

}
